* {
    padding: 0;
    margin: 0;                   
    box-sizing: border-box;
    overflow-x: hidden;
}

#uu {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    list-style-type: none;
    overflow: hidden;
  }
  
  li a {
    display: block;
    padding: 0% 28px 0% 28px;
  }

body{
    width: 100%;
}

#container{
    background-color: whitesmoke;
    width: 100%;
    height:100%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    width: 5%;
    margin-left: 8%;
    padding-right: 0%;
    display: flex;
    cursor: pointer;
}

#btn1{
    display: flex;
    float: right;
    margin-right: 8%;
    background-color: rgb(12, 12, 12);
    color: white;
    border-radius: 20px;
    padding: 13px 23px 13px 23px;
    border: none;
    text-align: center;
}
#btn1:hover{
    opacity: .8;
    cursor: pointer;
}

#navbar{
    display: flex;
    color: gray;
    text-align: center;
    font-size: large;
    background-color: white;
    padding: 1% 0% 1% 0%;
    align-items: center;
} 

#nav:link, a {
    color: unset;
    text-decoration: none;
  }
  #nav:visited {
    text-decoration: none;
  }
  #nav:hover {
    opacity: .8;
    color: #000000;
    cursor: pointer;
  }
  #nav:active {
    color: #000000;
  }
  #nav{
      color: gray;
  }

#about{
    margin-left: auto;
    margin-right: auto;
}

#vehicle{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)),
    url("./images/site1.jpg");
    height: 40rem;
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    color: white;
    text-align: center;
}

#vehicleText{
    padding-top: 19%;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

#future{
    background-image: 
    url("./images/site2.jpg");
    width: 40%;
    color: white;
    float: right;
    text-align: right;
    margin-right: 8%;
    margin-top: 4.4%;
}

#futureText{
    margin-left: 8%;
    padding-top: 6.5%;
    line-height: 220%;
}

#futureText1{
    font-size: 2.2rem;
    line-height: 140%;
}

#p1{
    color: gray;
    margin-right: 15%;
    line-height: 200%;
}

.home3{
    padding: 3% 0px 5% 0px;
    background-color: rgb(234, 236, 241);
}

#home3Text{
    text-align: center;
    font-weight: lighter;
    font-size: 300%;
    line-height:300%;
}

.p3{
    font-size: smaller;
    font-weight:90;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    line-height:300%;
}

.hm3{
    font-size:110%;
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#hm3-1{
    margin-left: 8%;
}

#hm3-2{
    margin-left: auto;
    margin-right: auto;
}

#hm3-3{
    margin-right: 8%;
}

.home4{
    margin-top: 5%;
}

#hm4{
    background-image: 
    url("./images/site2.jpg");
    width: 32%;
    color: white;
    float: left;
    text-align: right;
    margin-left: 8%;
    margin-right: 7%;
}

#hm4Text{
    margin-right: 8%;
    padding: 0% 0% .2% 0%;
    line-height: 220%;
}

#hm4Text1{
    font-size: 2.2rem;
    line-height: 140%;
}

#p4{
    color: gray;
    line-height: 200%;
    padding: 2% 0% 2% 0%;
}

#ul {
    list-style: none;
  }
  
  #ul #li:before {
    content: '✓  ';
  }

.home5{
    margin-top: 7%;
}

#hm5{
    background-image: 
    url("./images/site2.jpg");
    width: 32%;
    color: white;
    float: left;
    text-align: right;
    margin-left: 8%;
    margin-right: 7%;
}

#hm5Text{
    margin-right: 8%;
    line-height: 220%;
}

#hm5Text1{
    padding-top: 7%;
    font-size: 2.2rem;
    line-height: 140%;
}

#p5{
    color: gray;
    line-height: 200%;
    padding: 2% 0% 2% 0%;
}

.home6{
    margin-top: 10%;
    padding: 4% 0px 4% 0px;
    color: whitesmoke;
    background-color: #2f2544;
    height: 100%;
    /* line-height: 200%; */
}

#home6Text{
    text-align: center;
    font-weight:bolder;
    font-size: 300%;
    padding-bottom: 3%;
}

.rate6{
    justify-content: center;
    display:inline-flex;
    margin-left: 8%;
    font-size: 200%;
    font-family: Tahoma;
}

#btn6{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 13px 23px 13px 23px;
    border: none;
    text-align: center;
}
#btn6:hover{
    opacity: .8;
    cursor: pointer;
}

.p6{
    font-size: smaller;
    font-weight:100;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    color: whitesmoke;
    line-height: 200%;
    /* padding: 2%; */
}

#footer{
    font-size:110%;
    display: flex;

}

#footer1{
    margin-left: 8%;
}

#footer2{
    margin-left: auto;
    margin-right: auto;
}

#footer3{
    margin-right: 8%;
}

.fa {  
    padding: 0px 6px 2px 0px ;  
    text-align: center;  
    font-size: 100%;  
    color: white;

} 

.fa-2x{
    text-align: center;
    position: absolute;
    bottom: 15%;
    position: fixed;
    left: 93%;

    background-color: #1b1a1f;
    width: 50px;
    height: 50px ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.home3{
    display: inline;
}

#services{
   text-align: center;
}

@media screen and (max-width:920px) {
    ::placeholder{
        font-size:.50em;
    }

    #services{
        font-size:.50em;
    }

    #btn1{
        display: none;
    }

    #vehicleText{
        font-size: 20%;

    }
    
    #logo{
        width: 7%;
    }
    
    #navbar{
        font-size: small;
        padding: 2% 0% 2% 0%;
    } 
    
   #hA{
       position: relative;
       bottom: 90%;
      font-size: .5em;
      margin-left: auto;
      margin-right: auto;
   }
    
    #home{
    }
    
    #about{
        margin-left: auto;
        margin-right: auto;
    }
    
    #vehicle{
        height: 2%;
        width: 100%;
    }
    
    #vehicleText{
        padding: 19%;
        font-size: 100%;
    }
    
    #future{
        width: 30%;
        margin-left: 4%;
        margin-top: 4.4%;
    }
    
    #futureText{
        margin-right: 4%;
        line-height:90%;
        font-size: 70%;
    }
    
    #futureText1{
    
        font-size: 150%;
        line-height: 150%;
        margin-right: 4%;
    }
    
    #p1{
        display: none;
    }
    
    .home3{
        margin-top: 15px;
        padding: 3% 0px 5% 0px;
    }
    
    #home3Text{
        font-size: 100%;
    }
    
    .p3{
        font-size: 100%;
    }
    
    .hm3{
        font-size: 70%;
    }
    
    .home4{
        margin-top: 5%;
    }
    
    #hm4{
        width: 32%;
        margin-left:4%;
        margin-right: 7%;
    }
    
    #hm4Text{
        margin-right: 4%;
        padding: 0% 0% .2% 0%;
        line-height: 400%;
        font-size: 70%;
    }
    
    #hm4Text1{
        margin-top: 16%;
        font-size:150%;
        line-height: 140%;
        

    }
    
    #p4{
        display: none;
    }
    
    #ul {
        list-style: none;
        font-size: 80%;
        line-height: 20%;
      }
      
      #ul #li:before {
        content: '  ';

      }
    
    .home5{
        margin-top: 20%;
    }
    
    #hm5{
        width: 32%;
        margin-left: 4%;
        margin-right:7%;
    }
    
    #hm5Text{
        line-height: 90%;
        font-size: 70%;
    }
    
    #hm5Text1{
        padding:10% 0% 25% 0%;
        font-size: 150%;
        line-height: 140%;
    }
    
    #p5{
        display: none;
    }
    
    .home6{
    }
    
    #home6Text{
        font-size:100%;
        padding: 6%;
    }
    
    #btn6{
        padding: 10px 20px 10px 20px;
        font-size: 50%;
    }
    
    .p6{
        
    }
    
    #footer{
        font-size:80%;
    }
    
    #footer1{
        margin-left: 4%;
    }
    
    #footer2{
        margin-left: auto;
        margin-right: auto;
    }
    
    #footer3{
        margin-right: 4%;
    }
    
    .fa { 
    } 
    
    .fa-2x{
        bottom: 5%;
        position: fixed;
        left: 85%;
        width: 40px;
        height: 40px ;
    }
}

.row{
    /* display: inline; */
    
}

.form1{
    text-align: center;
    justify-content: center;
    align-items: center;
}


#name, #email, #phone, #subject, #msg{
    padding: 1.5% 2%  1.5% 2% ;
    background-color: white;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    width: 26%;
}
input:focus{
    outline: none;
    background-color: none;
    box-shadow: 0px 0px 5px  rgba(68,68,68,0.6);
}

#name:hover, #email:hover, #phone:hover, #subject:hover, #msg:hover{
    border: 1px solid #3399ff;
    transition: 0.5s;
}

#msg{
    padding: 1.5% 2% 25% 2%;
    width: 53%;
    height: 100%;
}

#msgUs:hover, #viewMore:hover{
    opacity: 0.8;
    cursor: pointer;
}

.formAll{
    display: inline;
    padding: 5px;
}

#msgUs{
    padding: 1% 3% 1% 3%;
    border: none;
    border-radius: 5px;
    background-color: #3399ff;
    color: white;
    box-shadow: 0px 0px 5px  rgba(68,68,68,0.6);
}

#viewMore{
    display: flex;
    background-color: #3399ff;
    box-shadow: 0px 0px 5px  rgba(68,68,68,0.6);
    color: white;
    padding: 1% 3% 1% 3%;
    border: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

#hA{
    padding-top: 3%;
}



